.theorem, .proposition, .definition, .proof {
  display: block;
  margin: 12px 0px 12px 0px;
  padding: 0px 0px 0px 8px;
	border-left: thin solid black;
}
.theorem:before {
  content: '定理: ';
  font-weight: bold;
}
.proposition:before {
  content: '命題: ';
  font-weight: bold;
}
.definition:before {
  content: '定義: ';
  font-weight: bold;
}
.proof:before {
  content: '証明: ';
  font-weight: bold;
}
.first {
	float: left;
}
.next {
	float: left;
  margin: 0px 0px 0 12px;
}
.last {
	clear: both;
}
