<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>%title%</title>
		<link rel="Stylesheet" type="text/css" href="%root_path%style.css" />
		<link rel="Stylesheet" type="text/css" href="%root_path%local.css" />
		<link type="text/css" rel="stylesheet"
			href="%root_path%syntaxhighlighter_3.0.83/styles/shCore.css" /> 
		<link type="text/css" rel="stylesheet"
			href="%root_path%syntaxhighlighter_3.0.83/styles/shThemeDefault.css" /> 
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shCore.js">
		</script> 
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shBrushXml.js">
		</script>
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shBrushJava.js">
		</script>
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shBrushCpp.js">
		</script>
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shBrushHaskell.js">
		</script>
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shBrushJScript.js">
		</script>
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shBrushPlain.js">
		</script>
		<script type="text/javascript"
			src="%root_path%syntaxhighlighter_3.0.83/scripts/shBrushR.js">
		</script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				TeX: {extensions: ["xypic.js", "AMSmath.js","AMSsymbols.js"]}
				//                  ^^^^^^^^load xypic.js
				, extensions: ["tex2jax.js","fp.js"]
				//                         ^^^^^load fp.js
			});
		</script>
		<script type="text/javascript"
			src="%root_path%MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
		<script type="text/javascript" src="%root_path%local.js"></script>
	</head>
	<body>
		<div class="content">
			%content%
		</div>
	</body>
</html>
